.calendar-container .react-calendar{
    height: 100% !important;
    width: 100% !important;
}

.calendar-container .react-calendar__tile {
  width: 100% !important;
  height: 10vh !important;
}

.parent-container {
  width: 100%;
  height: 100%;
}

.popup {

}

.add-button {
  width: 100%;
}

.popup-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.action-container {
    width: 100%;
    height: 100%;
    position: relative; /* Ensure contained elements are positioned relative to this container */
}

.days-container,
.time-container,
.duration-container {
  flex: 1 1 auto;
}
