
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* This ensures there's no space around the <body> element itself that could cause a gap. */
  }

  .App {
    display: flex;
    height: 100vh; /* This will make sure .App takes full viewport height */
    width: 100vw; /* This will make sure .App takes full viewport width */
    margin: 0;
    padding: 0;
    //overflow: hidden; /* This will prevent any overflow from creating scroll bars or gaps */
    
    /* If there's any border or outline, ensure it's removed or set to transparent */
    border: none;
    outline: none;
  }
  

// Set up default Styling :)

:root{
    // Colors variables
    --primaryColor: hsl(94,55%,56%);
    --hoverColor: hsl(93,75%,76%);
    --paleGreen: hsl(96,75%,89%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,0%);
    --greyText: hsl(0,0%,40%);
    --bgColor: hsl(113,11%,85%);
    --inputColor: hsl(330,12%,97%);
    --sidebarTextColor: hsl(0, 0%, 100%); // White color for text
    --sidebarIconColor: hsl(0, 0%, 100%); // White color for icons
    --sidebarBgColor: hsl(0, 0%, 46%); // Grey background
    --sidebarActiveBgColor: #1976d2; // Blue background for active/hover state


    /* Font and Typography ;) */

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .939rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}


.sidebar-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    color: var(--sidebarTextColor);
  
    // Ensuring that the visited style doesn't change
    &:visited {
      color: var(--sidebarTextColor);
    }
  
    // Active state for the sidebar link
    &.active .menu-item {
      background-color: var(--sidebarActiveBgColor);
      color: var(--whiteColor);
  
      .icon, .label {
        color: var(--whiteColor);
      }
    }
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    margin: 0;
    background-color: var(--sidebarBgColor);
    transition: background-color 0.3s, color 0.3s;
    color: var(--sidebarTextColor);
  
    // Override the hover effect
    &:hover {
      background-color: var(--sidebarActiveBgColor);
      color: var(--whiteColor);
  
      .icon, .label {
        color: var(--whiteColor);
      }
    }
  
    .icon {
      font-size: var(--h2FontSize);
      color: var(--sidebarIconColor);
      margin-right: 10px;
    }
  
    .label {
      font-size: var(--normalFontSize);
      margin-right: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .react-pro-sidebar, main {
    border: none;
    margin: 0;
    /* Add any other reset styles necessary for these elements */
  }
  main, .Sidebar {
    padding: 0;
    margin: 0;
  }
  
  // Collapsed sidebar styles
  .react-pro-sidebar.collapsed .menu-item {
    justify-content: center;
    padding-left: 20px;
  
    .icon {
      margin-right: 0;
    }
  
    .label {
      display: none;
    }
  }
  
  .ps-menu-button,
.ps-menu-item-root {
  &:hover,
  &:focus,
  &.active {
    background-color: transparent !important; // Removes any background color
    color: inherit !important; // Keeps the color consistent with your styles
    
    // Apply the same for all child elements to prevent any unwanted hover styles
    *, *:hover, *:focus {
      background-color: transparent !important;
      color: inherit !important;
    }
  }
}
  




  