.zoneOverview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    max-width: 800px;
    margin: 0 auto; 
}

.zone-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
}

.zone-item h2 {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

.zone-item h3 {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}


.zone-item p {
    text-decoration: none;
    color: #333; 
}

.zone-item:hover {
    background-color: #e8e8e8; /* Slightly darker on hover */
    cursor: pointer; /* Change cursor to indicate clickability */
}

.zone-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

